section.all
	clearfix()
	
	.tags
		position fixed
		right 5%
		top 0
		bottom 0
		width 210px
		z-index 5000
		text-align center
		phone position inherit
		phone right auto
		phone top auto
		phone bottom auto
		phone width 100%
		phone height auto
		phone margin 0
		phone margin-bottom 40px

		// &:before
		// 	content ''
		// 	display inline-block
		// 	height 100% 
		// 	vertical-align middle
		// 	margin-right -0.25em

		.center
			// display inline-block
			// vertical-align middle

			ul
				li
					a
						display block
						text-align center
						font-size 20px
						line-height 155%

						// &:hover
						// 	text-decoration none

	.sizer
		width 1%

	.item
		float left
		background white
		display block
		transition opacity .5s cubic-bezier(0.190, 1.000, 0.220, 1.000) //ease-out-expo
		cursor pointer

		&:hover
			opacity 0.5

		.loading
			position absolute
			top 50%
			left 50%
			margin -21px 0 0 -21px

		.frame
			position relative
			box-sizing border-box

		.img
			width 100%
			height auto

		&.pos1
			width 30%
			padding 0 2% 0 3%
			phone padding 0
			phone margin 0
			phone width 100%

		&.pos2
			width 20%
			padding 0 1% 0 3%
			margin-top 180px
			phone padding 0
			phone margin 0
			phone width 100%

		&.pos3
			width 33%
			padding 0 3% 0 5%
			margin-top 126px
			phone padding 0
			phone margin 0
			phone width 100%

		&.pos4
			width 33%
			padding 0 13% 0 13%
			margin-top 0px
			phone padding 0
			phone margin 0
			phone width 100%

		&.pos5
			width 32%
			padding 0 9% 0 0
			margin-top 100px
			phone padding 0
			phone margin 0
			phone width 100%

		&.pos6
			width 34%
			padding 0 6% 0 6%
			margin-top -5px
			phone padding 0
			phone margin 0
			phone width 100%

		&.pos7
			width 34%
			padding 0 14% 0 6%
			margin-top 108px
			phone padding 0
			phone margin 0
			phone width 100%

		&.pos8
			width 25%
			padding 0 5% 0 11%
			margin-top -10px
			phone padding 0
			phone margin 0
			phone width 100%

		&.pos9
			width 14%
			padding 0
			margin-top 452px
			phone padding 0
			phone margin 0
			phone width 100%

		&.pos10
			width 37%
			padding 0 3% 0 5%
			margin-top 115px
			phone padding 0
			phone margin 0
			phone width 100%

		&.pos11
			width 46%
			padding 0 6% 0 8%
			margin-top 126px
			phone padding 0
			phone margin 0
			phone width 100%

		&.pos12
			width 16%
			padding 0 14% 0 10%
			margin-top 177px
			phone padding 0
			phone margin 0
			phone width 100%

		&.pos13
			width 32%
			padding 0 5% 0 3%
			margin-top 177px
			phone padding 0
			phone margin 0
			phone width 100%