section.contact
	.video
		margin-left 20%
		margin-right 20%
		// background black
		margin-bottom 96px
		margin-top 50px
		position relative
		phone margin 0

		&:after
			padding-top 66%
			display block
			content ' '

		.frame
			position absolute
			top 0
			left 0
			right 0
			bottom 0


	.quote
		display block
		text-align center
		margin-left 8%
		margin-right 8%
		margin-bottom 120px
		font-size 36px
		line-height 115%
		font-family font-thin
		phone font-size 20px

		p
			margin-bottom 20px

	.people
		margin-left 4%
		margin-right 4%
		clearfix()
		box-sizing border-box
		margin-bottom 110px

		.item
			float left
			width 33%
			padding-left 2%
			padding-right 2%
			box-sizing border-box
			text-align center
			phone width 100%
			phone padding-bottom 50px

			h2
				display block
				text-align center
				color color-main
				font-size 18px
				font-weight normal
				font-family font-regular
				line-height 130%

			span
				display block
				text-align center
				color color-main
				font-size 18px
				line-height 130%
				margin-bottom 54px

			img
				overflow hidden
				border-radius 50%
				// display block
				// margin-left 28%
				// margin-right 28%
				background color-silver center center no-repeat
				min-width 56%
				max-width 56%
				margin-bottom 46px

			p
				font-size 17px
				line-height 120%
				font-family font-title
				text-align center
				margin-bottom 20px

	.category
		padding-left 2%
		padding-right 2%
		padding-top 18px

		h2
			color color-main
			font-family font-regular
			font-size 34px
			text-align center
			margin-bottom 86px
			letter-spacing -0.03em

		.item
			padding-bottom 40px

			h3
				font-family font-bold
				text-transform uppercase
				font-size 14px
				letter-spacing 0.12em
				text-align center
				font-weight normal
				margin-bottom 20px

			p
				font-size 17px
				line-height 120%
				text-align center
				margin-bottom 10px
				margin-left 15%
				margin-right 15%
				font-family font-title

			p.keywords
				font-size 26px
				font-family font-thin
				margin-top 50px
				margin-left 23%
				margin-right 23%
				margin-bottom 50px
				phone font-size 18px


