section.cases
	padding 0px 25px 0px 25px
	clearfix()

	.item
		float left
		width 50%
		margin-bottom 116px
		display block
		phone width 100%

		.wrap
			text-decoration none
			display block
			margin 0px 25px 0px 25px
			cursor pointer
			color color-gray
			// perspective 1100px
			// transform rotate3d(1,0,0,0deg)

			.cover
				background color-silver center center no-repeat
				background-size cover
				padding-top 85%
				transition all .5s cubic-bezier(0.190, 1.000, 0.220, 1.000) //ease-out-expo
				// transform rotate3d(1,0,0,0deg)
				// perspective 1100px

			// .cover:before
			// 	content " "
			// 	background black
			// 	height 0px
			// 	width 100%
			// 	display block
			// 	transform rotate3d(1,0,0,90deg)
			// 	transform-origin 0px 0pxs

			h2
				font-size 12px
				text-transform uppercase
				display block
				text-align center
				margin 34px 0 0 0
				transition all .5s cubic-bezier(0.190, 1.000, 0.220, 1.000) //ease-out-expo
				text-transform uppercase

			span
				font-size 23px
				display block
				text-align center
				margin-top 11px
				transition all .5s cubic-bezier(0.190, 1.000, 0.220, 1.000) //ease-out-expo

			&:hover

				.cover
					opacity 0.5
					// -webkit-filter unquote("brightness(3.1) contrast(1.1) saturate(0.6) sepia(0.4)")
					// transform rotate3d(1,0,0,7deg)

				h2, span
					color lighten(color-gray, 20%)

		&.highlight
			clear both
			float none
			width auto
			margin 0px -25px 74px -25px

			.wrap
				margin 0px
				color white
			
				.cover
					padding-top 62%
					margin 0

				h2
					position relative
					margin-top -96px
					font-size 14px

				span
					position relative
					font-size 28px
					margin-top 10px

				&:hover
					h2, span
						color darken(white, 100%)

	.quote
		padding 42px 12% 164px 12%
		float left
		clear both

		p
			font-size 34px
			line-height 120%
			phone font-size 20px

			&.author
				color color-main
				font-size 18px
				margin-left 50%
				margin-top 50px
				phone font-size 14px


