.parallax
	// position: absolute; 

	.parallax-item
		position fixed
		width 1px
		height 1px
		pointer-events none
		z-index 1000

		img
			position relative
			pointer-events none
			phone transform scale(0.4, 0.4)