section.all
	clearfix()
	
	.tags
		position fixed
		right 6%
		top 0
		bottom 0
		width 210px
		z-index 5000
		text-align center

		&:before
			content ''
			display inline-block
			height 100% 
			vertical-align middle
			margin-right -0.25em

		.center
			display inline-block
			vertical-align middle

			ul
				li
					a
						display block
						text-align center
						font-size 22px
						line-height 145%

						&:hover
							text-decoration none

	.sizer
		width 1%

	.item
		float left
		background white

		.loading
			position absolute
			top 50%
			left 50%
			margin -21px 0 0 -21px

		.frame
			position relative
			box-sizing border-box

		.img
			width 100%
			height auto

		&.pos1
			width 30%
			padding 0 3% 0 3%

		&.pos2
			width 20%
			padding 0 0.5% 0 0.5%
			margin-top 205px

		&.pos3
			width 37%
			padding 0 3% 0 3%
			margin-top 126px

		&.pos4
			width 33%
			padding 0 13% 0 13%
			margin-top -50px

		&.pos5
			width 32%
			padding 0 9% 0 0
			margin-top 118px

		&.pos6
			width 34%
			padding 0 6% 0 6%
			margin-top -5px

		&.pos7
			width 34%
			padding 0 14% 0 6%
			margin-top 108px

		&.pos8
			width 25%
			padding 0 5% 0 11%
			margin-top -10px

		&.pos9
			width 14%
			padding 0
			margin-top 452px

		&.pos10
			width 40%
			padding 0 3% 0 2%
			margin-top 148px

		&.pos11
			width 46%
			padding 0 6% 0 8%
			margin-top 126px

		&.pos12
			width 16%
			padding 0 14% 0 10%
			margin-top 177px

		&.pos13
			width 32%
			padding 0 5% 0 3%
			margin-top 177px

		/*&.pos1
			width 60%
			padding 3%

		&.pos2
			width 50%
			padding 3%
			margin-top 10%

		&.pos3
			width 40%
			padding 2.5%

		&.pos4
			width 30%
			padding 1.5%
			margin-top 7%

		&.pos5
			width 20%
			padding 2%

		&.pos6
			width 20%
			padding 1%
			margin-top 5%*/