color-main = #0f3a7d
color-gray = #151515
color-silver = #EEEEEE

font-regular = "executiveregular", arial
font-thin = "executivethin", arial
font-bold = "executivebold", arial
font-title = "stanleyregular", arial
font-title-italic = "stanleyitalic", arial

@import "nib"
@import "mixins.styl"
@import "reset.styl"
@import "structure.styl"

//components
@import "modal-gallery.styl"

//sections
@import "gallery.styl"
@import "home.styl"
@import "case.styl"
@import "all.styl"
@import "culture.styl"